doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        meta(name='description', content='Test')

        title() Test Build Angular
    body
        h1(style="color: red; margin-top: 100px") Test Angular